    {% load static %}
<html>
<head>


    <link rel="stylesheet" type="text/css" href="{% static 'temperatur/style.css' %}"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script>
        /**
         * Override the reset function, we don't need to hide the tooltips and crosshairs.
         */
        Highcharts.Pointer.prototype.reset = function () {
            return undefined;
        };

        /**
         * Highlight a point by showing tooltip, setting hover state and draw crosshair
         */
        Highcharts.Point.prototype.highlight = function (event) {
            this.onMouseOver(); // Show the hover marker
            this.series.chart.tooltip.refresh(this); // Show the tooltip
            this.series.chart.xAxis[0].drawCrosshair(event, this); // Show the crosshair
        };

        /**
         * Synchronize zooming through the setExtremes event handler.
         */
        function syncExtremes(e) {
            var thisChart = this.chart;

            if (e.trigger !== 'syncExtremes') { // Prevent feedback loop
                Highcharts.each(Highcharts.charts, function (chart) {
                    if (chart !== thisChart) {
                        if (chart.xAxis[0].setExtremes) { // It is null while updating
                            chart.xAxis[0].setExtremes(e.min, e.max, undefined, false, { trigger: 'syncExtremes' });
                        }
                    }
                });
            }
        }
    </script>
      <script>
            function getTemperatures(){
                $('.panel-body').toggle();
                if ($('.panel-body').html() == 'Loading ...'){
                    $.get( "http://sparkasse.spdns.de:8000/stats/getTemperatures", function( data ) {
                        $( ".panel-body" ).html( data );
                    });
                }
            }


    </script>

    <style>
            body {margin: 0px 1em}
            .panel-body {display: none}
            .chart {
                min-width: 320px;
                height: 220px;
                margin: 0 auto;
            }


    </style>
</head>
<body>


<h1>Arduino Morse 1</h1>
<form action="{% url 'index'  %}" method="get">
    {% csrf_token %}
    <input type="submit" name="myOffbtn" value="Switch Off"/>

</form>
<div id="container" style="width:100%; height:600px;">

</div>
{% if measurement_list %}
<table>

    <tr>
        <th>Aussen Temp.</th>
        <th>Aussen Hum.</th>
        <th>Anzucht Temp.</th>
        <th>Anzucht Hum.</th>
        <th>Wachstum Temp.</th>
        <th>Wachstum Hum.</th>
        <th>Abluft Temp.</th>
        <th>Abluft Hum.</th>
    </tr>
    {% for measurement in measurement_list %}
    <tr>

        <td><a href="/temperatur/{{ measurement }}/">{{ measurement.temp1 }}</a></td>
        <td><a href="/temperatur/{{ measurement }}/">{{ measurement.hum1 }}</a></td>
        <td><a href="/temperatur/{{ measurement }}/">{{ measurement.temp2 }}</a></td>
        <td><a href="/temperatur/{{ measurement }}/">{{ measurement.hum2 }}</a></td>
        <td><a href="/temperatur/{{ measurement }}/">{{ measurement.temp3 }}</a></td>
        <td><a href="/temperatur/{{ measurement }}/">{{ measurement.hum3 }}</a></td>
        <td><a href="/temperatur/{{ measurement }}/">{{ measurement.temp4 }}</a></td>
        <td><a href="/temperatur/{{ measurement }}/">{{ measurement.hum4 }}</a></td>

    </tr>
    {% endfor %}
</table>

{% else %}
<p>Keine Messungen verfügbar</p>
{% endif %}
{% if statusArduinon %}
<ul>
    <li><a href="/temperatur/">{{ statusArduinon }}</a></li>
</ul>
{% endif %}

<script>
$('#container').bind('mousemove touchmove touchstart', function (e) {
var chart,
point,
i,
event;

for (i = 0; i < Highcharts.charts.length; i = i + 1) {
chart = Highcharts.charts[i];
event = chart.pointer.normalize(e.originalEvent); // Find coordinates within the chart
point = chart.series[0].searchPoint(event, true); // Get the hovered point

if (point) {
point.highlight(e);
}
}
});


// Get the data. The contents of the data file can be viewed at
// https://github.com/highcharts/highcharts/blob/master/samples/data/activity.json
$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=activity.json&callback=?', function (activity) {
$.each(activity.datasets, function (i, dataset) {


// Add X values
dataset.data = Highcharts.map(dataset.data, function (val, j) {
return [activity.xData[j], val];
});

$('
<div class="chart">')
    .appendTo('#container')
    .highcharts({
    chart: {
    marginLeft: 40, // Keep all charts left aligned
    spacingTop: 20,
    spacingBottom: 20
    },
    title: {
    text: dataset.name,
    align: 'left',
    margin: 0,
    x: 30
    },
    credits: {
    enabled: false
    },
    legend: {
    enabled: false
    },
    xAxis: {
    crosshair: true,
    events: {
    setExtremes: syncExtremes
    },
    labels: {
    format: '{value} km'
    }
    },
    yAxis: {
    title: {
    text: null
    }
    },
    tooltip: {
    positioner: function () {
    return {
    x: this.chart.chartWidth - this.label.width, // right aligned
    y: -1 // align to title
    };
    },
    borderWidth: 0,
    backgroundColor: 'none',
    pointFormat: '{point.y}',
    headerFormat: '',
    shadow: false,
    style: {
    fontSize: '18px'
    },
    valueDecimals: dataset.valueDecimals
    },
    series: [{
    data: dataset.data,
    name: dataset.name,
    type: dataset.type,
    color: Highcharts.getOptions().colors[i],
    fillOpacity: 0.3,
    tooltip: {
    valueSuffix: ' ' + dataset.unit
    }
    }]
    });
    });
    });



</script>
</body>
</html>